/*
Theme Name: NU Theme
Description: Custom WP Bootstrap Theme for NU
Author: South Atlatic Pixel Commando
Version: 1.0
Tags: responsive, white, bootstrap

License: Attribution-ShareAlike 3.0 Unported (CC BY-SA 3.0)
License URI: http://creativecommons.org/licenses/by-sa/3.0/
*/

body {
    font-family: 'Open Sans', sans-serif;
      overflow-x: hidden;
}

footer {
    background-color: #e7e7e7;
    padding: 20px 0 50px 0;
}

h2, h3, h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-decoration: none;
}

p {
    font-size: 11px;
}

a:hover {
    text-decoration: none;
}

.nav li {
    position: static;
}

.navbar {
    position: relative;
    z-index: 50;
    -webkit-box-shadow: 0 0 10px 0 #666;
    -moz-box-shadow: 0 0 10px 0 #666;
    box-shadow: 0 0 10px 0 #666;
}

.navbar-header {
    padding-top: 15px;
    width: 100%;
}

.navbar-nav {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.nav-item {
    border-bottom: 3px solid transparent;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.dropdown {
    position: static;
}

.dropdown:hover > .dropdown-menu {
    display: flex;
    padding: 0;
}

.dropdown-menu li {
    width: 100%;
    padding: 10px 20px;
}

.dropdown-menu-author-photo {
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
}

.nav-item:hover {
    border-bottom: 3px #3ac2e1 solid;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.nu-logo {
    display: inline-block;
}

.nu-logo .mobile {
    margin: 0 0 15px 15px;
}

.nu-logo h2 {
    display: inline-block;
    font-size: 36px;
    color: #333333;
    margin: 0 0 0 10px;
    vertical-align: middle;
}

.social-icons {
    display: inline-block;
    float: right;
    margin:5px 10px 0 0;
}

.nav-social {
    list-style: none;
    padding:0;
    display: flex;
}

.nav-social-item {
    display: inline-block;
    padding: 5px
}

.noticias {
    width: 100%;
    position: relative;
}

.noticias-color-selector {
    margin-top: 10px;
}

.noticias-color-selector label {
    position: relative;
    top: -2px;
    left: -3px;
    background-color: rgb(218,148,79)
}

.noticias:hover div.noticias-copete {
    visibility: visible;
}

.noticias-itembox {
    padding: 15px 15px 15px 15px;
    height: 120px;
    width: 100%;
}

.noticias-itembox h3 {
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: #000000;
}

.noticias-itembox h4 {
    font-size: 22px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: #000000;
}

.noticias-itembox a:hover {
    text-decoration: none;
    cursor: pointer;
}

.noticias-icon-share {
    position: absolute;
    bottom: 12px;
    right: 13px;
    margin:0;
    padding:0;
}

.noticias-icon-share li {
    display: inline;
    padding-left: 10px;
}

.noticias-copete {
    position: absolute;
    padding: 20px;
    width: 100%;
    height: calc(100% - 120px);
    background-color: rgba(255,255,255,0.9);
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    visibility: hidden;
}

.noticias-copete h4 {
    line-height: 150%;
}

.noticias-author {
    position: absolute;
    bottom: 5px;
    left: 16px;
    color: white;
}

.pasillo {
    border: solid 10px red;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.pasillo-header {
    position: absolute;
    top: 11px;
    background-color: #000;
    color: white;
    padding: 12px;
}

.pasillo-itembox {
    position: absolute;
    padding: 25px 15px 25px 15px;
    height: 120px;
    margin-bottom:10px;
    width: calc(100% - 20px);
    bottom: 0;

    background: rgba(0,0,0,0);
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.44) 32%, rgba(0,0,0,0.44) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(32%, rgba(0,0,0,0.44)), color-stop(100%, rgba(0,0,0,0.44)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.44) 32%, rgba(0,0,0,0.44) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.44) 32%, rgba(0,0,0,0.44) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.44) 32%, rgba(0,0,0,0.44) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.44) 32%, rgba(0,0,0,0.44) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );

}

.pasillo-itembox h3 {
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: #FFFFFF;
}

.secundarias {
    background-color: #3ac2e1;
    padding: 0 0 10px;
}

.secundarias h2 {
    margin-top: 10px;
    color: white;
}

.secundarias h3 {
    color: #333333;
}

.secundarias h4 {
    color: white;
    font-weight: normal;
    display: inline-block;
    margin-bottom: 25px;
}

.chicxs {
    position: relative;
}

.chicxs-item {
    position: relative;
    overflow: hidden;
    border: 0;
}

.chicxs-itembox {
    color: white;
    position: absolute;
    float: left;
    bottom: 0;
    width: 100%;
    background-color: rgba(20, 20, 20, 0.9)
}

.chicxs-itembox h3 {
    margin: 15px;
}

.tapa-item {
    background-color: #333333;
    padding:20px;
    text-align: center;
    height: 420px
}

.tapa-item img {
    width: auto;
    height: 340px;
    margin-bottom: 10px;

}

.tapa-item a {
    color: white;
}

.tapalist-item {
    background-color: #cccccc;
    padding: 15px;
    display: inline-block;
    margin-bottom:10px;
}

.tapalist-item img {
    width: 100%;
    height: auto;
}

.staff-item {
    display: inline-block;
    text-align: center;
    width:100%;
    padding: 30px;
}

.tags {
    background-color: #eeeeee;
    margin: 10px 0;
    padding: 5px;
}

.tags ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.tags-item {
    background-color: #3ac2e1;
    color: white;
    margin: 3px;
    padding: 5px 10px 5px 10px;
    list-style: none;
    display: inline-block;
}

.tags-item a {
    color: white;
    font-weight: bold;
}

.post {
    padding: 0;
}

.post h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-left: -3px;
}

.post h4 {
    font-family: 'Open Sans', sans-serif;
    color: #565656;
    margin-left: -2px;
}

.post-header {
    height: 100px;
    background-color: #3ac2e1;
    display: flex;
    align-items: center;
    color: white;
    background-image: url(images/post-header.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom:10px;
    margin-top:-20px;
}

.post-header h3 {
    font-weight: normal;
    color: white;
}

.post-header h3 a {
    color: inherit;
}

.post-image {
    padding: 15px 0 0 0;
}

.post-image-caption {
    background-color: #333333;
    padding: 10px;
    display: flex;
    align-items: center;
    color: white;
}

.post-content {
    color: #565656;
    padding: 25px 0 30px 0;
}

.post-content p {
    font-size: 16px;
}

.post-author {
    width: 100%;
    display: flex;
    align-items: center;
}

.author-photo {
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
}

.post-author-avatar {
    display: inline-block;
}

.post-author-name {
    display: inline-block;
    padding-left: 20px;
    top: 50%;
}

.post-date {
    color: #3ac2e1;
    margin-bottom: -15px;
}

.post-social {
    position: absolute;
    right: 0;
    margin-top: 10px;
    margin-right: 20px;
}

.post-social ul {
    padding: 0;
}

.post-social > ul > li {
    display: inline-block;
    padding-left: 20px;
}

.relpost-container {
    padding: 0 0 10px 0;
    margin: 40px 0 10px 0;
    border-top: #e7e7e7 1px solid;
}

.relpost-title {
    padding: 10px 0 20px;
    color: #565656;
}

.relpost-title h3 {
    font-weight: normal;
}

.relpost-itembox {
    margin-left: -5px;
}

.relpost-item h4 {
    color: #565656;
}

.relpost-item p {
    color: #565656;
}

.banner-billboard {
    height:260px;
    text-align: center;
}

.banner-dos {
    height:270px;
    text-align: center;
}

.banner-noticia {
    height:320px;
}

.banner-center {
    display:flex;
    justify-content:center;
    align-items:center;
}

.categoria {
    padding: 40px 0 0 0;
}

.cat-item {
    overflow: hidden;
    position: relative;
    border: 0;
    text-align: right;
    color: #565656;
}

.cat-item p {
    font-size: 14px
}

.cat-item-title {
    margin-bottom: 10px;
}

.cat-item-title p {
    color: #565656;
    font-size: 16px;
}

.cat-item-title h3 {
    margin-top:0;
    color: #565656;
}

.cat-item-footer {
    margin-bottom: 65px;
}

.cat-item-footer-social {
    float: right;
    vertical-align: bottom;
}

.cat-item-footer-social>ul {
    padding-left: 20px;
    margin-top: 20px;
}

.cat-item-footer-social>ul>li {
    display: inline-block;
    padding-left: 20px;
}

.cat-item-footer-line {
    height: 40px;
    display: inline-block;
    width: 80px;
    border-bottom: 1px #3ac2e1 solid;
    vertical-align: bottom;
}

.cat-itembox {
    position: absolute;
    width: 97%;
    bottom: 0;
    vertical-align: bottom;
}

.cat-date {
    display: inline-block;
    color: #3ac2e1;
    float: left;
    padding: 10px 0 0 0;
}

.cat-author-name {
    display: inline-block;
    padding: 0 120px 0 0;
}

.cat-author-avatar {
    display: inline-block;
}

.opinion {
    background-color: #333333;
    text-align: center;
    padding: 0 0 20px 0;
}

.opinion h4 {
    padding-top: 10px;
    color: white;
}

.opinion-item {
    vertical-align: top;
    padding: 0 50px;
}

.opinion-item h5 {
    color: white;
    font-weight: normal;
}

.opi-itembox {
    margin-left: 0px;
    display: flex;
    align-items: center;
    /*display: inline-block;*/
}

.opi-author-avatar {
    width:50%;
    margin: 0 auto;
}

.opi-author-photo {
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin: 20px auto 0 auto;
}

.opi-item-title {
    display: inline-block;
    width: 90%;
    margin: 0 0 10px 30px;
}

.opi-author-name {
    margin: 0 0 0 110px;
}

.gutter-sm {
    padding: 1px;
}

.gutter-nr {
    padding-right: 5px;
    padding-left: 5px;
}

.nu-data {
    font-family: "Open Sans", sans-serif;
    color: #777;
    font-size: 14px;
    text-align: right;
    float: right;
    margin: 12px 20px 0 0;
    position:relative;
    top: -2px;
}


.weather {
    display: inline-block;
    float: right;
    margin-right: 10px;
}

.weather .icon {
    width: 50px;
    height: 40px;
    background-position: -5px -10px;
    background-size: 130%;
}

.weather .temp {
    padding: 5px;
    font-size: 14px;
}

.search {
    margin: 20px 15px 0 0;
}

.header-second-row {
    position: relative;
    padding: 0;
}

.header-buttons {
    position: relative;
    margin: 0;
    padding: 0;
    width:100%;
    display: flex;
    justify-content: space-between;
}

.header-buttons .nav-item {
    margin-top: 15px;
    padding: 5px 30px;
    font-size: 14px;
    display: inline-block;
    z-index: 20;
}

.header-buttons .nav-item a {
    color: #565656;
}

.header-buttons .nav-item:hover {
    border: 1px lightgray solid;
    border-bottom: none;
    background-color: white;
}

.header-buttons #ciudad-button:hover ~ .dropdown-info-container > .ciudad-dropdown-info {
    visibility: visible;
}

.header-buttons #provincia-button:hover ~ .dropdown-info-container > .provincia-dropdown-info {
    visibility: visible;
}

.header-buttons #nacion-button:hover ~ .dropdown-info-container > .nacion-dropdown-info {
    visibility: visible;
}

.header-buttons #revista-button:hover ~ .dropdown-info-container > .revista-dropdown-info {
    visibility: visible;
}

.header-buttons #opinion-button:hover ~ .dropdown-info-container > .opinion-dropdown-info {
    visibility: visible;
}

.header-buttons #pasillo-button:hover ~ .dropdown-info-container > .pasillo-dropdown-info {
    visibility: visible;
}

.header-buttons #turismo-button:hover ~ .dropdown-info-container > .turismo-dropdown-info {
    visibility: visible;
}

.header-buttons #staff-button:hover ~ .dropdown-info-container > .staff-dropdown-info {
    visibility: visible;
}

.dropdown-info-container {
    position: absolute;
    top: 48px;
    width:100%;
    z-index: 30;
}

.dropdown-info {
    margin: 15px;
    position: absolute;
}

.dropdown-info ul {
    list-style: none;
    padding-left: 10px;
}

.dropdown-info ul li {
    display: inline-block;
    width: 20%;
    padding: 5px;
}

.dropdown-info ul li span {
    font-size: 10px;
}

.dropdown-info ul li h4{
    margin-top: 0;
}

.ciudad-dropdown-info, .provincia-dropdown-info, .nacion-dropdown-info, .revista-dropdown-info, .opinion-dropdown-info, .pasillo-dropdown-info, .turismo-dropdown-info, .staff-dropdown-info {
    visibility: hidden;
}

.header-buttons:hover > .header-dropdown {
    visibility: visible;
}

.header-dropdown {
    position: absolute;
    visibility: hidden;
    height: 280px;
    width: 100%;
    margin-top: 48px;
    background-color: white;
    border: 1px lightgray solid;
    border-bottom: 7px #3ac2e1 solid;
    padding: 15px;
    z-index: 15;
    -webkit-box-shadow: 0 5px 15px 0 #666;
    -moz-box-shadow: 0 5px 15px 0 #666;
    box-shadow: 0 5px 15px 0 #666;
}

.search-container {
    margin-top: 5px;
}

.search-container input {
    width: 300px;
}

.totalpoll-poll-container {
    margin-bottom: 15px;
}

.ticker-title {
    background: #ab0000;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    color: white;
    position: relative;
    top: 1px;

}

.ticker-item {
    background-color: #ff0000;
    color: #FFFFFF;
    height: 100%;
    padding-top: 2px;
}

.ticker-item a {
    color:white;
}

.ticker-item h5 {
    margin-left: 50px;
    margin-right: 50px;
}

.pagination-button {
    padding: 10px;
}

.columna-interactiva-header {
    background-color: black;
    color: white;
    font-size: 24px;
    font-weight:bold;
    display:flex;
    align-items: center;
    padding-left: 15px;
    height: 62px;
}
.columna-interactiva-noticia {
    height: 125px;
    position: relative;
    overflow: hidden;
}

.columna-interactiva-placa {
    position: relative;
    left: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.columna-interactiva-noticia:hover > .columna-interactiva-placa {
    left: 328px;
}

.columna-interactiva-numero {
    position:absolute;
    width: 50px;
    height: 125px;
    background: #ff0000; /* Old browsers */
    background: -moz-linear-gradient(top, #ff0000 0%, #d60000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ff0000 0%,#d60000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ff0000 0%,#d60000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#d60000',GradientType=0 ); /* IE6-9 */
    color: white;
    padding-left:10px;
    font-size: 72px;
    font-weight: bold;
    font-family: 'Teko', sans-serif;
}

.columna-interactiva-titular {
    position: absolute;
    display: inline-block;
    left: 50px;
    padding:15px;
    width: 328px;
    height: 125px;
    color: black;
    font-size: 20px;
    font-weight:bold;
    background-color: #ebebeb;
    border-bottom: 5px solid #d1d1d1;
    box-sizing: border-box;
}



/* COLORES

#da944f - 107,189,81 - naranja
#6bbd51 - 218,148,79 - verde
#3ac2e1 - 58,194,225 - azul

*/
